:root {
  --color-blk: #000000;
}
body {
  height: 100vh;
  overflow: hidden;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  right:0;
  display: block;
  border: 1px solid;
}
.container {
  position: absolute;
  left: 150px;
  bottom: 70px;
  margin-top: 50px;
}
button {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 7px;
  outline: solid;
  outline-color: var(--color-blk);
  outline-width: 0.8px;
  color: var(--color-blk);
  font-size: 28px;
  font-weight: bold;
}
#left {
  right: 50px;
}
#right {
  left: 50px;
  bottom: 50px;
}
#bottom {
  bottom: 50px;
}